<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tycoding.boot.modules.blog.mapper.TagMapper">

    <select id="articleList" resultType="cn.tycoding.boot.modules.blog.entity.Article">
        SELECT `article`.id,
               `article`.title,
               `article`.author,
               `article`.create_time
        FROM blog_article_tag bat,
             blog_article `article`
        WHERE bat.article_id = `article`.id
          AND bat.tag_id = #{id}
    </select>
</mapper>
