##引入自定义全局变量
$!tumo-boot-define

##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Controller"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/controller"))
##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}controller;

import cn.hutool.core.lang.Dict;
##以下`cn.tycoding`开头的都是我自定义的类，请根据情况做相应修改
import cn.tycoding.boot.common.core.api.R;
import cn.tycoding.boot.common.core.api.QueryPage;
import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.service.$!{tableInfo.name}Service;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表控制层
 *
 * @author $!author
 * @since $!time.currTime()
 */
@RestController
@RequiredArgsConstructor
@RequestMapping("/$!{TumoBootLowerCaseEntity}")
public class $!{tableName} {

    private final $!{TumoBootService} $!{TumoBootLowerCaseService};

    @GetMapping("/list")
    public R<List<$!{TumoBootEntity}>> list($!{TumoBootEntity} $!{TumoBootLowerCaseEntity}) {
        return R.ok($!{TumoBootLowerCaseService}.list());
    }

    @GetMapping("/page")
    public R list($!{TumoBootEntity} $!{TumoBootLowerCaseEntity}, QueryPage queryPage) {
        Page<$!{TumoBootEntity}> page = new Page<>(queryPage.getPage(), queryPage.getLimit());
        return R.ok($!{TumoBootLowerCaseService}.page(page, Wrappers.<$!{TumoBootEntity}>query().lambda()));
    }

    @GetMapping("/{id}")
    public R<$!{TumoBootEntity}> findById(@PathVariable $!pk.shortType id) {
        return R.ok($!{TumoBootLowerCaseService}.getById(id));
    }

    @PostMapping
    public R add(@RequestBody $!{TumoBootEntity} $!{TumoBootLowerCaseEntity}) {
        $!{TumoBootLowerCaseService}.save($!{TumoBootLowerCaseEntity});
        return R.ok();
    }

    @PutMapping
    public R update(@RequestBody $!{TumoBootEntity} $!{TumoBootLowerCaseEntity}) {
        $!{TumoBootLowerCaseService}.updateById($!{TumoBootLowerCaseEntity});
        return R.ok();
    }

    @DeleteMapping("/{id}")
    public R delete(@PathVariable $!pk.shortType id) {
        $!{TumoBootLowerCaseService}.removeById(id);
        return R.ok();
    }
}
