.DS_Store
node_modules/
dist/
npm-debug.apiLog*
yarn-debug.apiLog*
yarn-error.apiLog*
**/*.apiLog

tests/**/coverage/
tests/e2e/reports
selenium-debug.apiLog

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock
