##引入自定义全局变量
$!tumo-boot-define

##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "Service"))
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/service"))

##拿到主键
#if(!$tableInfo.pkColumn.isEmpty())
    #set($pk = $tableInfo.pkColumn.get(0))
#end

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}service;

import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};
##以下`cn.tycoding`开头的都是我自定义的类，请根据情况做相应修改

/**
 * $!{tableInfo.comment}($!{tableInfo.name})表服务接口
 *
 * @author $!author
 * @since $!time.currTime()
 */
public interface $!{tableName} extends IService<$!{TumoBootEntity}> {

    /**
    * 条件查询
    */
    List<$!{TumoBootEntity}> list($!{TumoBootEntity} $!{TumoBootLowerCaseEntity});

    /**
    * 分页、条件查询
    */
    IPage<$!{TumoBootEntity}> list($!{TumoBootEntity} $!{TumoBootLowerCaseEntity}, QueryPage queryPage);

    /**
    * 新增
    */
    void add($!{TumoBootEntity} $!{TumoBootLowerCaseEntity});

    /**
    * 修改
    */
    void update($!{TumoBootEntity} $!{TumoBootLowerCaseEntity});

    /**
    * 删除
    */
    void delete($!pk.shortType id);
}
