<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tycoding.boot.modules.demo.mapper.DemoMapper">

    <!-- 通用查询映射结果集 -->
    <resultMap type="cn.tycoding.boot.modules.demo.entity.Demo" id="DemoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>

