##引入自定义全局变量
$!tumo-boot-define
##设置文件后缀名
$!callback.setFileName("$!{TumoBootLowerCaseEntity}.js")

import request from '@/utils/request'

/**
 * API 接口前缀
 */
export const API_PREFIX = '/'

/**
 * 分页、条件查询
 */
export function $!{TumoBootLowerCaseEntity}List(pagination, query) {
    return request({
        url: API_PREFIX + `/$!{TumoBootLowerCaseEntity}/list?page=${pagination.page}&size=${pagination.size}`,
        method: 'post',
        query
    })
}

/**
 * 条件查询
 */
export function $!{TumoBootLowerCaseEntity}FilterList(data) {
    return request({
        url: API_PREFIX + `/$!{TumoBootLowerCaseEntity}/filter/list`,
        method: 'post',
        data
    })
}

/**
 * 校验名称
 */
export function check$!{TumoBootEntity}Name(data) {
    return request({
        url: API_PREFIX + `/$!{TumoBootLowerCaseEntity}/checkName`,
        method: 'post',
        data
    })
}

/**
 * 根据ID查询
 */
export function findBy$!{TumoBootEntity}Id(id) {
    return request({
        url: API_PREFIX + `/$!{TumoBootLowerCaseEntity}/${id}`,
        method: 'get'
    })
}

/**
 * 新增
 */
export function add$!{TumoBootEntity}(data) {
    return request({
        url: API_PREFIX + `/$!{TumoBootLowerCaseEntity}`,
        method: 'post',
        data
    })
}

/**
 * 修改
 */
export function update$!{TumoBootEntity}(data) {
    return request({
        url: API_PREFIX + `/$!{TumoBootLowerCaseEntity}`,
        method: 'put',
        data
    })
}

/**
 * 删除
 */
export function del$!{TumoBootEntity}(id) {
    return request({
        url: API_PREFIX + `/$!{TumoBootLowerCaseEntity}/${id}`,
        method: 'delete'
    })
}
